.navbar {
    display: flex;
    align-items: center;

    background: black;
    color: white;
    font-family: Helvetica;
    margin-bottom: 0;
    font-weight: 300;
}
  
.navbar__title {
margin-right: auto;
font-size: 150%;
padding: 12px 16px;
}

.navbar__item {
padding: 16px 16px;
cursor: pointer;
vertical-align: middle;
}
  