.screen-parent {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(../../assets/oauthbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.heading {
    text-align: center;
    font-size: 60px;
    font-family: "Amaranth", sans-serif;
    margin: 10px;
}

.auth-div-parent {
    display: flex;
    justify-content: center;
}

.auth-div {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.tick-img {
    text-align: center;
}

.code-container {
    width: 500px;
    margin: 10px 10px;
    background: transparent;
    overflow: hidden;
    display: flex;
    height: 5vw;
    justify-content: center;
}

.auth-div input[type="submit"] {
    width: 50%;
}

#toast-btn {
    display: inline-block;
    float: left;
    background: #fff;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #3b2f63;
    white-space: no-wrap;
    font-size: 20px;
    color: #3b2f63;
    width: 40%;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#toast-btn:hover {
    background: #3b2f63;
    color: #fff;
}

#textbox {
    background: transparent;
    border: none;
    font-size: 20px;
    padding: 0 10px;
    color: #fff;
    border: 2px solid black;
    width: 60%;
}

.toast {
    padding: 15px 20px;
    color: #fff;
    background: rgba(0, 0, 10, 0.7);
    display: inline-block;
    position: fixed;
    top: -100px;
    right: 15px;
    opacity: 0;
    transition: all 0.4s ease-out;
}

.color_picker {
    position: relative;
    background-color: #dde4ea;
    color: #334;
    padding: 20px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
}
.color_picker:hover {
    background-color: #334;
    color: #dde4ea;
}

.color_preview_holder {
    display: inline-block;
    padding: 4px;
    background-color: #eee;
    border: 1px solid #aaa;
    height: calc(100% - 20px);
    width: 45px;
    box-sizing: border-box;
    margin-left: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.color_preview {
    box-sizing: border-box;
    display: block;
    background-color: white;
    border: 1px solid #aaa;
    width: 100%;
    height: 100%;
}

.textbox {
    height: 50px;
    width: 100%;
    border-radius: 3px;
    border: rgba(0, 0, 0, 0.3) 2px solid;
    box-sizing: border-box;
    padding: 10px;
    /* margin-bottom:30px; */
}

.code-textbox {
    height: 35px;
}

.textbox:focus {
    outline: none;
    border: rgba(24, 149, 215, 1) 2px solid;
    color: rgba(24, 149, 215, 1);
}

.input-group {
    display: flex;
}

.input-group-addon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.img-n-text {
    cursor: pointer;
}

.auth-div input[type="submit"] {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 1.25rem;
    outline: none;
    color: rgb(0, 0, 0);
    border: none;
    margin-top: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0 3px 15px 5px rgba(rgb(187, 187, 187), 0.2);
    cursor: pointer;
    font-family: "Quattrocento Sans";
    transition: 75ms ease;
    width: 350px;
}

.auth-div input[type="submit"]:hover {
    background: rgb(0, 0, 0);
    transform: scale(0.95);
    color: white;
}
